* {
  --pale-orange: hsl(26, 100%, 55%);
  --navbar-height: 75px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
}

.container {
  width: 1440px;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

/* ================== */
/* ===== NAVBAR ===== */
/* ================== */
.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid hsl(220, 14%, 75%);
}

.navbar__left {
  height: var(--navbar-height);
  display: inherit;
  align-items: center;
}

.navbar__logo {
  height: 1.2rem;
  margin-right: 1rem;
  padding: 1rem 0;
}

.menu {
  margin: 0;
  display: inherit;
  list-style: none;
}

.menu__item {
  margin-right: 1rem;
  padding: var(--navbar-height) 0;
}

.menu__item a {
  padding: calc(var(--navbar-height) / 3) 0;
}

.menu__item a:hover {
  border-bottom: 2px solid var(--pale-orange);
}

.navbar__right {
  display: inherit;
  align-items: center;
}

.icon-cart {
  height: 1.2rem;
  cursor: pointer;
}

.navbar__profile {
  height: 2.3rem;
  margin-left: 2.5rem;
}