.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.modal {
  position: fixed;
  z-index: 20;
  width: 500px;

  /* Center the modal */
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.modal__close-icon__wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.modal__close-icon {
  padding: .5rem 0;
  cursor: pointer;
}

.modal__close-icon path {
  fill: white;
}

.modal__close-icon:hover path,
.main-picture-icon__previous:hover path,
.main-picture-icon__next:hover path {
  stroke: hsl(26, 100%, 55%);
}

.modal__main-picture-icon {
  padding: 1rem;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  cursor: pointer;
}

.main-picture-icon__previous {
  left: -15px;
}

.main-picture-icon__next {
  right: -15px;
}

.carousel {
  position: relative;
  margin: auto;
}

.slide {
  display: none;
  width: 100%;
  height: 100%;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.product__thumbnails-modal {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  cursor: pointer;
}

.product__thumbnail-modal:hover {
  filter: url('#white') grayscale(0.2) sepia(0) brightness(1.2);
}

.thumbnail__wrapper {
  width: 25%;
  padding: 2rem 1rem;
}

.product__thumbnail-modal {
  width: 100%;
  border-radius: 1rem;
  box-sizing: border-box;
}

/* ==================== */